<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS - AJAX || @Dola29</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="main" class="container">
       <div class="row">
           <div class="col-sm-4">
               <h1>Lista VueJS - Filter</h1>
               <button class="btn btn-primary" v-on:click="getUsers" v-if="!lists.length"> Listar </button>
               <ul class="list-group" v-else>
                    <li class="list-group-item">
                        <input type="text" placeholder="Buscar" class="form-control" v-model="name">
                    </li>
                   <li class="list-group-item" v-for="item in searchUser">
                       {{item.name.first}} {{item.name.last}}
                   </li>
               </ul>
           </div>
           <div class="col-sm-8">
               <h1>JSON</h1>
               <pre>
                   {{$data}}
               </pre>
           </div>
       </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script type="text/javascript">
        var urlUsers = 'https://randomuser.me/api/?results=10';
      
        new Vue({
            el:'#main',
            data:{
                lists:[],
                name : ''
            },            
            methods:{
               getUsers: function(){
                   axios.get(urlUsers).then(response => {
                       this.lists = response.data.results;
                   });
               }
                
            },
            computed:{
                searchUser: function(){
                    return this.lists.filter((item) => item.name.first.includes(this.name));
                }
            }
        });
    </script>
</body>
</html>